<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.address.city}"></td>
                <td th:text="${member.address.street}"></td>
                <td th:text="${member.address.zipcode}"></td>
                <td>
                    <a th:href="@{/members/{id}/edit(id=${member.id})}" class="btn btn-primary">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->


</body>
</html>
