<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <form role="form" method="post" th:object="${member}" th:action="@{/members/{id}/edit(id=${member.id})}">
        <div class="form-group">
            <label for="inputName">이름</label>
            <input type="text" name="name" class="form-control" id="inputName" placeholder="이름을 입력하세요" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="city">도시</label>
            <input type="text" name="city" class="form-control" id="city" placeholder="도시를 입력하세요" th:field="*{address.city}">
        </div>
        <div class="form-group">
            <label for="street">거리</label>
            <input type="text" name="street" class="form-control" id="street" placeholder="거리를 입력하세요" th:field="*{address.street}">
        </div>
        <div class="form-group">
            <label for="zipcode">우편번호</label>
            <input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="우편번호를 입력하세요" th:field="*{address.zipcode}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->

</body>
</html>
